*{
    box-sizing: border-box;
}
#card {
    
display:flex;
justify-content: space-evenly;
gap:5px;
  align-items: center;
flex-direction: column;
background-color: #91C89A;
height: 500px;
width: 505;
border-radius: 5px;
padding: 5px;


}

img {
    height: 100px;
    width: 320px;
}
#title{
    text-align: center;
    justify-content: space-between;

}
 p{
    text-align: center;
    justify-content: space-between;
 }

div p:nth-child(1){
    font-size: 18px;
}
div p:nth-child(2){
    font-size: 25px;
    font-weight: bold;
}
div p:nth-child(3){
    font-size: 18px;
}

form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
 
    width: 100%;
    gap: 10px;
}
form input {
    display: block;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    
}

#form-field{
    
    border: solid;
    padding: 5px;
}
#form-button {
    
    background-color: #4D4F4D;
    color:whitesmoke;
    border: none;
    padding: 5px;
}

a {
    
    color: #4D4F4D;
}
